{% extends "layout.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block leftHeaderLinks %}
	<li>
		<a href="/" class="codrops-icon fa-2x pull-left">
			{% trans %}
			Статьи
			{% endtrans %}
		</a>
	</li>
{% endblock %}

{% block meta %}
	<meta property="og:title" content="{{ article.title }}"/>
	<meta property="og:url" content="http://dmtry.me/article/{{ article.name }}/"/>
	<meta property="og:image" content="http://dmtry.me/img/articles/{{ article.id }}.jpg"/>
	<meta property="og:description" content="{{ article.og_description }}"/>
{% endblock %}

{% block content %}

    <article>
        <header>
            <h1>{{ article.title }}</h1>
        </header>

        {% autoescape false %}
            {{ article_html }}
        {% endautoescape %}
    </article>

	<div class="row">
		<div class="col-lg-12 cl-md-12">
			<p class="bg-info alert">
				Блог работает в alpha режиме. Если Вы заметили ошибку в статье или хотите предложить нововведения, то Вы можете уведомить меня, используя контакты, указанные на <a href="/about">странице</a>, или же сделав pull-request в <a href="https://github.com/ovr/ovr.github.io/tree/master/app/_posts/{{ currentLanguage }}/{{ article.dateCreated|date('Y') }}/{{ article.name }}.md" target="_blank">статью</a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 cl-md-12 share-block">
            {% include "blocks/rrssb.twig" %}
		</div>
	</div>

    <div class="row">
		<div class="col-lg-12 cl-md-12 share-block">
			<blockquote class="twitter-tweet" lang="ru" data-tweet-id="{{ article.twittId }}"></blockquote>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>

	{#<div class="row">#}
		{#<div class="col-lg-12 cl-md-12 share-block">#}
			{#<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>#}
			{#<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir"></div>#}
		{#</div>#}
	{#</div>#}

	{% include "blocks/disqus.twig" %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/src/lib/blogpost-tweets.js"></script>
    <script src="/src/vendor/rrssb/js/rrssb.min.js"></script>
{% endblock %}